body {
  /* Full screen width and height */
  width: 100%;
  /* min-height: 100vh; */

  /* Centers the container in the middle of the screen */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: black;
  /* position: fixed; */
  /* overflow-x: hidden; */
}

#container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  margin: 0;
  perspective: 15px;
  width: 200vw;

}

#inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  /* align-items: center; */
  z-index: 0;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  min-height: 100%;
}

#block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  z-index: 0;
  width: 100vw;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}


#title {
  position: absolute;
  z-index: 0;
  font-family: Pragmatica;
  font-size: 3vw;
  color: lightgrey;
  margin-left: -40vw;
  margin-top: 20vw;
}

img {
  width: 100%;
  height: 100%;
}

 .window2 {
   margin-left: 2vw
 }
